@model Category
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Ekle</h1>

<form action="/Admin/Category/Add" method="post">

    <input type="text" name="CategoryName" placeholder="Kategori Adi" /> <br /> <br />

    <input type="submit" value="Ekle" class="btn btn-success" />

</form>