@model Category
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Güncelle</h1>

<form asp-action="Update" asp-controller="Category" method="post" enctype="multipart/form-data">
    <input type="hidden" name="Id" value="@Model.Id" />


    <input type="text" name="CategoryName" value="@Model.CategoryName" placeholder="Kategori Adi" /> <br /> <br />


    <input type="submit" value="Güncelle" class="btn btn-success" />

</form>