
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Ekle</h1>


<form action="/Admin/Author/Add" method="post">

    <input type="text" name="AuthorName" placeholder="Yazar Adi" /> <br /> <br />
    <input type="text" name="AuthorSutname" placeholder="Yazar Soyadi" /> <br /> <br />
    <input type="text" name="DateOfBirth" placeholder="Yazar Dogum Tarihi" /> <br /> <br />
   
    <input type="submit" value="Ekle" class="btn btn-success" />

</form>